<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--执行时间间隔，以秒计算-->
    <add key="ExecuteTimeSpan" value="60"/>
    <!--Api调用地址-->
    <add key="ApiUrl" value="http://192.168.0.231:8005/api/ManagePostHistoryAtt/ByPassAttAsync"/>
    <!--区域，不配置代表全部，配置则交换当前区域-->
    <add key="AddressArea" value=""/>
    <!--是否启用默认规则-->
    <add key="DefaultRule" value="true"/>
    <!--每次取的条数-->
    <add key="Limit" value="50"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
